form{

  margin-bottom: 30px;

  input{
    border-radius:2px;
    box-shadow:inset 0px 2px 2px rgba(0,0,0,0.25);
    line-height: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 0;
  }

  .url{
    background-color:rgb(236,236,236);
    width:100%;
    padding: 4px 8px;
    margin-bottom: 30px;

    font-family:"Courier New", Courier, monospace;
    font-size:16px;
    font-weight:bold;
    line-height:120%;
    color:#333;
    text-align:center;


  }

  ul{

    padding: 0;
    margin: 0;

    li{

      font-family:"Courier New", Courier, monospace;
      font-size:14px;
      font-weight:900;

      &.inactive{
        opacity: .25;
        cursor: pointer;

        transition:.2s ease-in;

        &:hover{
          opacity: .5;
        }
      }

      &.active{
        opacity: 1;
        transition:.2s ease-in;

      }

      &:after{
        content:'';
        display: table;
        clear: both;
      }

      margin-bottom: 30px;

      span{
        width:46%;
        position: relative;

        input{
          width:100%;
          text-align: center;
        }

      }

      input{
        width:46%;
      }

      .key{
        &:before{
          position: absolute;
          font-size: 22px;
          color:rgba(236,236,236,1);
          content: '{';
          left:-20px;
          line-height: 40px;
        }
        float: left;
      }
      .value{
        &:before{
          position: absolute;
          font-size: 22px;
          color:rgba(236,236,236,1);
          content: ':';
          left:-24px;
          top:0;
          line-height: 40px;
        }
        float: right;
        &:after{
          position: absolute;
          font-size: 22px;
          color:rgba(236,236,236,1);
          content: '}';
          right:-24px;
          top:0;
          line-height: 40px;
        }
      }
    }
  }

  .repeater{
    &:before{
      content: 'repeat';
      color:#eee;
    }


    .repeat{
      border: 0;
      background-color:rgb(236,236,236);
      width:73px;
      height:40px;
      border-radius:2px;
      appearance: normal;
      font-family:"Courier New", Courier, monospace;
      font-size:20px;
      font-weight:bold;

      color:rgb(33,33,33);
      text-align:center;
      margin:0 10px;

    }

    &:after{
      content: 'time(s)';
      color:#eee;
    }
  }

  .submitter{
    float: right;

    .submit{
      border:0;
      background-image:linear-gradient(-180deg,rgb(51,51,51) 0%,rgb(34,34,34) 100%);
      width:96px;
      line-height:40px;
      border-radius:2px;
      box-shadow:inset 0px 1px 2px rgba(255,255,255,0.15) ,inset 0px -2px 2px rgba(0,0,0,0.25);

      font-size:16px;
      color:rgb(238,238,238);
      text-shadow:0px 0px 2px rgba(0,0,0,0.25);

      transition:.2s ease-out;

      &:active{
        background-image:linear-gradient(-180deg,rgb(40,40,40) 0%,rgb(35,35,35) 100%);
      }

    }

  }

}