header{

  text-align: center;
  margin-bottom: 40px;

  h1{
    font-size:58px;
    color:rgb(237,237,237);
    text-shadow:0px 2px 2px rgba(0,0,0,0.25);
    font-weight: 300;
    padding: 0;
    margin: 0;
  }

  aside{
    text-transform: lowercase;
    font-weight: 100;
    font-size:16px;
    line-height:25%;
    color:rgb(237,237,237);
    text-shadow:0px 2px 2px rgba(0,0,0,0.25);
  }

}