.form-error{
  background-image:linear-gradient(180deg,rgb(188,26,5) 0%,rgb(178,0,0) 100%);
  line-height: 32px;
  border-radius:2px;
  box-shadow:inset 0px -1px 2px rgba(0,0,0,0.65);
  font-size:16px;
  color:rgb(235,235,235);
  text-shadow:0px 0px 2px rgba(0,0,0,0.25);
  text-align: center;
  margin-bottom: 30px;
}

.returned-data{

  textarea{

    width: 100%;
    border-radius:2px;
    box-shadow:inset 0px 2px 2px rgba(0,0,0,0.25);
    border:0;

    font-family:"Courier New", Courier, monospace;
    font-size:14px;
    font-weight:bold;
    line-height:120%;
    color:rgb(33,33,33);
    text-align:left;

    padding: 10px;
    box-sizing: border-box;

  }

  .title{
    margin-left: 4px;
    line-height: 32px;
    font-size:16px;
    color:rgb(237,237,237);
    text-shadow:0px 0px 2px rgba(0,0,0,0.25);
  }

  .copier{
    display: block;
    float: right;
    border:0;
    background-image:linear-gradient(-180deg,rgb(51,51,51) 0%,rgb(34,34,34) 100%);
    width:96px;
    line-height:32px;
    border-radius:2px;
    box-shadow:inset 0px 1px 2px rgba(255,255,255,0.15) ,inset 0px -2px 2px rgba(0,0,0,0.25);

    font-size:16px;
    color:rgb(238,238,238);
    text-shadow:0px 0px 2px rgba(0,0,0,0.25);

    text-transform: lowercase;
    text-align: center;

    transition:.2s ease-out;

    cursor: pointer;

    &:active{
      background-image:linear-gradient(-180deg,rgb(40,40,40) 0%,rgb(35,35,35) 100%);
    }

  }

}